textarea {
    min-height: 400px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    height: 50%;
    padding: 10px;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.read {
    background: grey;
}

.from, .to, .timestamp {
    color: rgba(0, 0, 0, .5);
    margin: 0;
}

.to {

}



button {
    user-select: none;
    color: #fff;
    text-transform: uppercase;
    background: gray;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

button:hover {
    background: #434343;
    letter-spacing: 1px;
    box-shadow: 5px 40px 10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}